.TestPage1 .client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}

.TestPage1 .client .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.TestPage1 .client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}

.TestPage1 .client .imgBx img:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .TestPage1 .client {
    padding: 50px;
  }
  .TestPage1 .client .imgBx {
    justify-content: center;
  }
}
