.TestPage1 .services {
  background: #12222d;
  padding: 100px;
  text-align: center;
}

.TestPage1 .services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.TestPage1 .services .container .serviceBx {
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TestPage1 .services .container .serviceBx img {
  max-width: 100px;
}

.TestPage1 .services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .TestPage1 .services {
    padding: 50px;
  }
  .TestPage1 .services .container {
    justify-content: center;
    margin-top: 20px;
  }
  .TestPage1 .services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
}
