@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  header {
    padding: 20px 50px;
  }
  header .logo {
    max-width: 80px;
  }
  header .toggle {
    max-width: 40px;
  }
  .banner {
    padding: 100px 50px;
  }
  .content h2 {
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .content p {
    font-size: 1em;
  }
  .slide {
    position: relative;
    bottom: initial;
    left: 0;
    margin: 20px 0;
  }
  .sci {
    top: initial;
    right: initial;
    margin-top: 40px;
    flex-direction: row;
  }
  .sci li {
    margin: 0 5px;
  }
  .trailer video {
    max-width: 90%;
  }
}
