.about {
  position: relative;
  width: 100%;
  display: flex;
}

.about .contentBx {
  background: #162c3b;
  padding: 100px;
  width: 50%;
}

.about .imgBx {
  background: url(/images/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
