.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.technology .contentBx {
  max-width: 800px;
}

.technology .imgBx {
  max-width: 250px;
}

.technology .imgBx img {
  max-width: 100%;
}
