.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}

.testimonials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.testimonials .container .contentBx {
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.testimonials .container .contentBx p {
  font-style: italic;
}

.testimonials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}

@media (max-width: 991px) {
  .testimonials {
    padding: 50px;
  }
  .testimonials .container .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .container .contentBx:last-child {
    margin-bottom: 0px;
  }
}
