.TestPage1 .footer {
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TestPage1 .footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TestPage1 .footer ul p {
  margin-bottom: 0;
}

.TestPage1 .footer ul li {
  list-style: none;
}

.TestPage1 .footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.TestPage1 .footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}

@media (max-width: 991px) {
  .TestPage1 .footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .TestPage1 .footer ul {
    margin-bottom: 20px;
  }
}
